*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
body{
    overflow: hidden;
}
.first{

    background-image: url("./assets/shutter-speed-BQ9usyzHx_w-unsplash.jpg");
    height: 92vh;
    background-repeat: no-repeat;
    background-size: cover;

}
.enter{
    background-color: rgba(71, 196, 238, 0.451);
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 4px black;
    
}